<h2>Login</h2>

<form nz-form #loginForm="ngForm" class="login-form">
  <nz-form-item>
    <nz-form-control nzErrorTip="Please input your username!">
      <nz-input-group nzPrefixIcon="user">
        <input type="text" nz-input [(ngModel)]="model.username" id="username" name="userName" placeholder="Username" required/>
      </nz-input-group>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-control nzErrorTip="Please input your Password!">
      <nz-input-group nzPrefixIcon="lock">
        <input type="password" nz-input [(ngModel)]="model.password" id="password" name="password" placeholder="Password" required/>
      </nz-input-group>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-text>(Username: admin, Password: admin)</nz-form-text>
  </nz-form-item>
  <nz-form-item>
    <nz-form-control>
      <button nz-button class="login-form-button" [nzType]="'primary'" [disabled]="loginForm.invalid" (click)="login()">Login</button>
    </nz-form-control>
  </nz-form-item>
</form>
