<h2 i18n="@@login">Login</h2>

<form nz-form #loginForm="ngForm" class="login-form">
  <nz-form-item>
    <nz-form-control i18n-nzErrorTip="@@usernameErrorTip" nzErrorTip="Please input your username!">
      <nz-input-group nzPrefixIcon="user">
        <input type="text" nz-input [(ngModel)]="model.username" id="username" name="userName" i18n-placeholder="@@usernamePlaceholder" placeholder="Username" required/>
      </nz-input-group>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-control i18n-nzErrorTip="@@passwordErrorTip" nzErrorTip="Please input your Password!">
      <nz-input-group nzPrefixIcon="lock">
        <input type="password" nz-input [(ngModel)]="model.password" id="password" name="password" i18n-placeholder="@@passwordPlaceholder" placeholder="Password" required/>
      </nz-input-group>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-text i18n="@@loginTip">(Username: admin, Password: admin)</nz-form-text>
  </nz-form-item>
  <nz-form-item>
    <nz-form-control>
      <button nz-button class="login-form-button" [nzType]="'primary'" [disabled]="loginForm.invalid" (click)="login()" i18n="@@login">Login</button>
    </nz-form-control>
  </nz-form-item>
</form>
