<form nz-form [formGroup]="validateForm" class="login-form" (ngSubmit)="submitForm()">
  <nz-form-item>
    <nz-form-control i18n-nzErrorTip="@@usernameErrorTip" nzErrorTip="Please input your username!">
      <nz-input-group nzPrefixIcon="user">
        <input type="text" id="username" nz-input formControlName="username" i18n-placeholder="@@usernamePlaceholder" placeholder="Username"/>
      </nz-input-group>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-control i18n-nzErrorTip="@@passwordErrorTip" nzErrorTip="Please input your Password!">
      <nz-input-group nzPrefixIcon="lock">
        <input type="password" id="password" nz-input formControlName="password" i18n-placeholder="@@passwordPlaceholder" placeholder="Password"/>
      </nz-input-group>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-text i18n="@@loginTip">(Username: admin, Password: admin)</nz-form-text>
  </nz-form-item>
  <nz-form-item>
    <nz-form-control>
      <label nz-checkbox formControlName="remember">
        <span i18n="@@remember">Remember me</span>
      </label>
      <a class="login-form-forgot" class="login-form-forgot" i18n="@@forgotPassword">Forgot password</a>
      <button nz-button class="login-form-button" [nzType]="'primary'" [disabled]="!validateForm.valid" i18n="@@login">Login</button>
      <ng-container i18n="@@or">Or </ng-container>
      <a i18n="@@register">register now!</a>
    </nz-form-control>
  </nz-form-item>
</form>
