<div nz-row>
  <div nz-col nzSpan="6"><h1>{{title}}</h1></div>
  <div nz-col nzSpan="2">{{currentDate | date}}</div>
  <div nz-col nzSpan="4">
    <ng-container *ngFor="let language of supportLanguages">
      <a href="/{{language.code}}/">
        <button nz-button [nzType]="language.code === currentLanguage ? 'primary' : 'default'">{{language.label}}</button>
      </a>
    </ng-container>
  </div>
</div>
<nav>
  <a routerLink="/login" i18n="@@login">Login</a>
  <a routerLink="/dashboard" i18n="@@dashboard">Dashboard</a>
  <a routerLink="/heroes" i18n="@@heroes">Heroes</a>
</nav>
<router-outlet></router-outlet>
<app-messages></app-messages>
