/* HeroesComponent's private CSS styles */
.heroes {
  list-style-type: none;
  padding: 0;
  width: 30em;
}

input {
  display: block;
  width: 100%;
  padding: .5rem;
  margin: 1rem 0;
  box-sizing: border-box;
}

.heroes a {
  color: #333;
  text-decoration: none;
  background-color: #EEE;
  height: 1.6em;
  border-radius: 4px;
  display: block;
  width: 100%;
}

.heroes a:hover {
  color: #2c3a41;
  background-color: #e6e6e6;
}

.heroes a:active {
  background-color: #525252;
  color: #fafafa;
}

.heroes .badge {
  display: inline-block;
  font-size: small;
  color: white;
  padding: 0.5em;
  background-color: #405061;
  line-height: 1em;
  height: 1.8em;
  min-width: 16px;
  text-align: right;
  border-radius: 4px 0 0 4px;
}

.add-button {
  padding: .5rem 1.5rem;
  font-size: 1rem;
  margin-bottom: 1rem;
}

.add-button:hover {
  color: white;
  background-color: #42545C;
}

button.delete {
  background-color: white;
  color: #525252;
  font-size: 1.1rem;
  padding: 2px;
}

button.delete:hover {
  background-color: #525252;
  color: white;
}
