<h2 i18n="@@myHeroes">My Heroes</h2>

<div *appHasRole="'ADMIN'">
  <label>
    <ng-container i18n="@@heroName">Hero name:</ng-container>
    <input #heroName/>
  </label>
  <!-- (click) passes input value to add() and then clears the input -->
  <button (click)="add(heroName.value); heroName.value=''" i18n="@@add">
    add
  </button>
</div>

<div class="heroes">
  <nz-table #heroesTable [nzData]="heroes" nzFrontPagination="false" nzShowPagination="false" nzSize="small">
    <thead (nzSortChange)="sortChanged($event)" nzSingleSort>
    <tr>
      <th i18n="@@no">No</th>
      <th nzShowSort nzSortKey="name" i18n="@@name2">Name</th>
      <th i18n="@@delete">Delete</th>
    </tr>
    </thead>

    <tbody>
    <tr *ngFor="let hero of heroesTable.data; let i = index">
      <td><span class="badge">{{i + 1}}</span></td>
      <td>
        <a routerLink="/detail/{{hero.id}}">{{hero.name}}</a>
      </td>
      <td>
        <button *appHasRole="'ADMIN'" class="delete" i18n-title="@@deleteHero" title="delete hero" (click)="delete(hero)">x</button>
      </td>
    </tr>
    </tbody>
  </nz-table>
  <app-pagination [total]="totalItems" [pageIndex]="pageable.page + 1" (pageChange)="pageChanged($event)"></app-pagination>
</div>
